// page-home {
//     padding: 0;
// } 

.homeDesign {
    background-image: url('../../../assets/imgs/golf-collage.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.btn {
    background-color: #5eaaef;
    margin-top: 25px;
    width: 150px;
    border: 1px solid #5daaef;
    border-radius: 5px;
    display: flex;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}