// page-all-tees {

// }

.teesDesign {
    background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
}

.tee {
    font-size: 20px;
    text-transform: capitalize;
    background-color: #ffffffe0;
    border: 1px solid #ffffffe0;
    margin: 14px auto;
    border-radius: 5px;
    width: 37%;
    height: 38px;
}

.teeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
