<ion-header>
  <ion-navbar>
    <ion-title>Golf Card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="scoreCard cardDesign">

    <div class="topInfo">

      <div id="rowTitleHoles" class="rowTitle holeInfo"> Hole #</div>
      <div id="rowTitleYards" class="rowTitle holeInfo"> {{this.tee}} Yards </div>
      <div id="rowTitlePar" class="rowTitle holeInfo"> {{this.tee}} Par </div>
      <div id="rowTitleHCP" class="rowTitle holeInfo"> {{this.tee}} HCP </div>

      <div *ngFor="let player of pArray; index as i " id="playerRow" class="playerLabel player">
        <div id="playerRow{{i}}" class="player{{i}}">
          <span class="playersName" contenteditable="true">{{player}}</span>
          <span (click)="removePlayer(this)" class="fa fa-trash player{{i}}"></span>
        </div>
      </div>

    </div>

    <div class="row">
      <div *ngFor="let hole of holesIn; index as i "  >
        <div id="c{{i + 1}}" class="holeData">
          <div class="cheader holeInfo"> {{i + 1}}</div>
          <div id="yards{{i + 1}}" class="yards holeInfo">{{hole.teeBoxes[this.teeIndex].yards }}</div>
          <div id="par{{i + 1}}" class="par holeInfo">{{hole.teeBoxes[this.teeIndex].par}}</div>
          <div id="hcp{{i + 1}}" class="hcp holeInfo">{{hole.teeBoxes[this.teeIndex].hcp }}</div>
          <div *ngFor="let playerInput of pArray; index as p">
              <input type="number" class="holeInput player{{p}}" id="p{{p}}h{{i}}" (change)="totalHoles()">
          </div>
        </div>
      </div>

      <!-- <div id="totalIn">
        <div class="totalsIN">IN</div>
        <div id="yardsIn">{{totalYardsIn}}</div>
        <div id="parIn">{{totalParIn}}</div>
        <div id="hcpIn">{{totalHCPIn}}</div>

        <div *ngFor="let p of pArray; index as i" class="scoreBox">
          <div id="player{{i}}scoreIn"></div>
        </div>
      </div>

      <div *ngFor="let hole of holesOut; index as i "  >
        <div id="c{{i + 10}}">
          <div class="cheader"> {{i + 10}}</div>
          <div id="yards{{i + 10}}" class="yards">{{hole.teeBoxes[this.teeIndex].yards }}</div>
          <div id="par{{i + 10}}" class="par">{{hole.teeBoxes[this.teeIndex].par}}</div>
          <div id="hcp{{i + 10}}" class="hcp">{{hole.teeBoxes[this.teeIndex].hcp }}</div>
          <div *ngFor="let playerInput of pArray; index as p">
            <input type="number" class="holeInput player{{p}}" id="p{{p}}h{{i+ 10}}" (change)="totalHoles()">
          </div>
        </div>
      </div>


      <div id="totalOut">
        <div class="totals">OUT</div>
        <div id="yardsOut">{{totalYardsOut}}</div>
        <div id="parOut">{{totalParOut}}</div>
        <div id="hcpOut">{{totalHCPOut}}</div>
        <div *ngFor="let p of pArray; index as i" class="scoreBox">
          <div id="player{{i}}scoreOut"></div>
        </div>
      </div>
      <div id="totalScore">
        <div class="totalsTot">TOT</div>
        <div id="yardsTot">{{totalYardsIn + totalYardsOut}}</div>
        <div id="parTot">{{totalParIn + totalParOut}}</div>
        <div id="hcpTot">{{totalHCPIn + totalHCPOut}}</div>
        <div *ngFor="let p of pArray; index as i" class="scoreBox">
          <div id="player{{i}}totalScore"></div>
        </div>
      </div> -->


    </div>
  </div>


</ion-content>


