<ion-header>
  <ion-navbar>
    <ion-title>Golf Card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="scoreCard cardDesign">

    <div class="topInfo">
      <div id="rowTitleHoles" class="rowTitle holeInfoHeader"> Hole #</div>
      <div id="rowTitleYards" class="rowTitle holeInfoHeader"> {{this.tee}} - Yards </div>
      <div id="rowTitlePar" class="rowTitle holeInfoHeader"> {{this.tee}} - Par </div>
      <div id="rowTitleHCP" class="rowTitle holeInfoHeader"> {{this.tee}} - HCP </div>

      <div *ngFor="let player of playersArray; index as i " id="playerRow" class="playerLabel player">
        <div id="playerRow{{i}}" class="player{{i}}">
          <span class="playersName" contenteditable="true">{{player}}</span>
          <span (click)="removePlayer(this)" class="fa fa-trash player{{i}}"></span>
        </div>
      </div>
    </div>

    <div> <!--IN holes-->
      <div *ngFor="let hole of holesIn; index as i "  >
        <div id="c{{i + 1}}" class="holeData">
          <div class="holeInfo"> {{i + 1}}</div>
          <div id="yards{{i + 1}}" class="yards holeInfo">{{hole.teeBoxes[this.teeIndex].yards }}</div>
          <div id="par{{i + 1}}" class="par holeInfo">{{hole.teeBoxes[this.teeIndex].par}}</div>
          <div id="hcp{{i + 1}}" class="hcp holeInfo">{{hole.teeBoxes[this.teeIndex].hcp }}</div>
          <div *ngFor="let playerInput of playersArray; index as p">
              <input type="number" class="holeInput player{{p}}" id="p{{p}}h{{i}}" (change)="totalScoreOfHoles()">
          </div>
        </div>
      </div>

      <div id="totalInSection">
        <div class="totalsIn totalGrey">IN</div>
        <div id="yardsIn" class="totalsIn totalGrey">{{totalYardsIn}}</div>
        <div id="parIn" class="totalsIn totalGrey">{{totalParIn}}</div>
        <div id="hcpIn" class="totalsIn totalGrey">{{totalHCPIn}}</div>
        <div *ngFor="let p of playersArray; index as i" class="scores totalsIn totalGrey">
          <div id="player{{i}}scoreIn"></div>
        </div>
      </div>
    </div>


    <div> <!--OUT holes-->
      <div *ngFor="let hole of holesOut; index as i "  >
        <div id="c{{i + 10}}" class="outHoleInfo">
          <div class="holeInfo"> {{i + 10}}</div>
          <div id="yards{{i + 10}}" class="yards holeInfo">{{hole.teeBoxes[this.teeIndex].yards }}</div>
          <div id="par{{i + 10}}" class="par holeInfo">{{hole.teeBoxes[this.teeIndex].par}}</div>
          <div id="hcp{{i + 10}}" class="hcp holeInfo">{{hole.teeBoxes[this.teeIndex].hcp }}</div>
          <div *ngFor="let playerInput of playersArray; index as p">
            <input type="number" class="holeInput player{{p}}" id="p{{p}}h{{i+ 10}}" (change)="totalScoreOfHoles()">
          </div>
        </div>
      </div>

      <div id="totalOutSection">
          <div class="totalsOut totalGrey">OUT</div>
          <div id="yardsOut" class="totalsOut totalGrey">{{totalYardsOut}}</div>
          <div id="parOut" class="totalsOut totalGrey">{{totalParOut}}</div>
          <div id="hcpOut" class="totalsOut totalGrey">{{totalHCPOut}}</div>
          <div *ngFor="let p of playersArray; index as i" class="scores totalsOut totalGrey">
            <div id="player{{i}}scoreOut"></div>
          </div>
        </div>
    </div>

    <!-- Totals   -->
    <div id="allTotalSection">
      <div class="allTotals totalGrey">TOTAL</div>
      <div id="yardsTot" class="allTotals totalGrey">{{totalYardsIn + totalYardsOut}}</div>
      <div id="parTot" class="allTotals totalGrey">{{totalParIn + totalParOut}}</div>
      <div id="hcpTot" class="allTotals totalGrey">{{totalHCPIn + totalHCPOut}}</div>
      <div *ngFor="let p of playersArray; index as i" class="scores allTotals totalGrey">
        <div id="player{{i}}totalScore"></div>
      </div>
    </div>
     
  </div>

</ion-content>