<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Choose Your Course</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="coursesDesign">
    <ion-list class="courseDetail">
      <button *ngFor="let course of courseOptions" (click)="courseChosen($event, course)" class="courseBtn">
        <div class="topDiv">
          <div class="topLeft">{{course.name}}</div>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <img class="courseImg" [src]="course.image">
        <div class="hideId">{{course.id}}</div>
      </button>
    </ion-list>
    <div *ngIf="selectedCourse" padding>{{selectedCourse.title}}</div>
  </div>
</ion-content>